.contents {
    position: absolute;
    left: $NavWidth;
    top: 0;
    bottom: 0;
    overflow: auto;
}

header {
    margin-bottom: 44px;
}

.Photo {
    width: 40px;
    height: 40px;
    clip-path: circle(50% at center);
    object-fit: cover;
}

.Name {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #212529;
}

.Mail {
    font-size: 14px;
    line-height: 24px;
    color: #6C757D;
}

.Time {
    font-size: 12px;
    line-height: 24px;
    color: #6C757D;
}

.AssList li {
    display: flex;
    justify-content: space-between;
    border: 1px solid #CED4DA;
    padding: 12px;
    width: 320px;

    div:last-child {
        text-align: right;
    }


    span {
        display: block;
    }
}


.InfoBlock {
    margin: 16px 32px 0 64px;

}