* {
    color: #212529;
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 24px;
    line-height: 33px;
    font-weight: bold;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.DDL {
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background: url('../images/SelcArrow.png') #fff 95% center no-repeat;
    background-size: 24px 24px;
    box-sizing: border-box;
    border: none;
    color: #495057;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    padding-right: 33px;
}

.flex-jcsb-aic {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-jcsb-aifs {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


.traX-56 {
    transform: translateX(-56px);
}

.bor-1 {
    border: 1px solid #CED4DA;
}

.bor-bottom-1 {
    border-bottom: 1px solid #CED4DA;
}

.text-12-24 {
    font-size: 12px;
    line-height: 24px;
}

.text-14-21 {
    font-size: 14px;
    line-height: 21px;
}

.text-16-24 {
    font-size: 16px;
    line-height: 24px;
}



.me-16 {
    margin-right: 16px;
}

.mb-22 {
    margin-bottom: 22px;
}

.mb-32 {
    margin-bottom: 32px;
}

.me-26 {
    margin-right: 26px;
}

.ms-48 {
    margin-left: 48px;
}


.me-50 {
    margin-right: 50px;
}

.p-16 {
    padding: 16px;
}

.ps-12 {
    padding-left: 12px;
}

.p-12-16 {
    padding:12px 16px;
}

.ps-28 {
    padding-left:28px;
}

.p-32 {
    padding: 32px;
}

.ps-32 {
    padding-left:32px;
}

